body, html {
    height: 100%;
}

.parallax { 
    /* The image used */
    background-image: url("../../assets/img/me.jpg");

    /* Full height */
    height: 100%; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.navbar-fixed-top {

    position: fixed;
    float: right;
    ul {

        a {
            text-decoration: none;
            display: inline;    
        }
        
    }
}